@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    width:100%;
    max-width:1200px;
    margin: 0 auto;
}
a{
    color: inherit;
    text-decoration: none;
}
.title{
    font-size: 3rem;
    font-weight: 700;
    color: #353535;
    border-bottom: 1px solid #353535;
    padding-bottom: 10px;
}

.main-menu{
    font-size: 2rem;
    list-style: none;
}

.main-menu li{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 300px;
    margin-bottom: 20px;
}

.main-menu li:hover{
    transform: translateY(-10px);
}

.success{
    padding: 20px;
    border: 1px solid #a2c428;
    border-radius: 10px;
    background-color: #e3eebb;
    color: #728e0e;
    margin: 5px;
    margin-top: 15px;
}

.error{
    padding: 20px;
    border: 1px solid #c42828;
    border-radius: 10px;
    background-color: #ebb;
    color: #8e0e0e;
    margin: 5px;
    margin-top: 15px;
}

.spinner{
    width:100%;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.spinner svg{
    transform: rotateX(0deg);
    animation: rotate 1s infinite;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

@-moz-keyframes rotate{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}