.single-driver-list-item{
    padding:10px;
    margin:10px;
    transition: all 0.2s ease-in-out !important;
}

.single-driver-list-item:hover{
    transform: translateY(-10px);
}

.single-driver-list-item .driver-name{
    font-size: 1.5rem;
    font-weight: 700;
    margin:0;
}
.single-driver-list-item .driver-id{
    opacity: .3;
    margin-left: 5px;
    font-size: .8rem;
}
